*{
    padding: 0px;
    margin: 0px;
}

.maxWidth{
    background-color: hsl(195, 100%, 50%);
    
}

.team-section{
    overflow: hidden;
    text-align: center;
    background: lightsteelblue;
    padding: 60px;
}

.team-section h1 {
    text-transform: uppercase;
    margin-bottom: 60px;
    font-size: 40px;
}

.personal-details {
    padding: 10px;
    height: 100%;
    overflow: hidden;
    text-align: left;
    
}

.personal-details p {
    color: black;
    width: 50%;
    padding: 10px;
}
.profile-pic{
    width: 45%;
    height: 100%;
    padding: 15px;
    
}
.profile-pic img {
    border-radius: 200px;
    width:100% ;
    height: 100%;
}

.profile-card:hover{
    box-shadow: 0 14px 28px rgba(0,0,0,0.25),
     0 10px 10px rgba(245, 89, 89, 0.22); 
}

.profile-card {
    overflow: hidden;
    box-shadow: 0px 4px 8px 0px rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 15px;
    width: 550px;
    height: 350px; 
    /* background-color: #455A64; */
    background-color: white;
    /* display: inline-block; */
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 20px;
    margin-bottom: 20px;
    margin-top: 20px;
}

.product-title h1 {
    margin: 20px;
    text-align: center;
   
}
.product-title h2 {
    margin: 20px;
    text-align: center;
    
   
}
.about-us{
    text-align: center;
    width: 100%;
    height: auto;
    margin-bottom: 50px;
    padding: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

}

.about-us img {
    
    width: 200px;
    height:200px;

}

.about-us p{
    font-size: 20px;
    padding: 10px;
    margin: auto;
    color: dimgray;
    width: 80%;
    height: 30%;
    text-align: center;
}
.explanation {
    display: flex;

}

#quality {
    overflow: hidden;
    box-shadow: 0px 4px 8px 0px rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 400px;
    height: auto;
    border-radius: 15px;
    margin: 15px;
    text-align: center;
    margin-bottom: 50px;

}
.card {
    overflow: hidden;
    box-shadow: 0px 4px 8px 0px rgba(0,0,0,0.2);
    transition: 0.3s;
    height: auto;
    width: auto;
    display: inline-block;
    border-radius: 15px;
    margin: 12px;
    text-align: center;
}